<!DOCTYPE html>

<html lang="en">
	<head>
	    <meta charset="utf-8">
		<title>Count</title>
		<link rel='stylesheet' type="text/css" href="/css/styles.css"></link>
		<audio id="audio" src="/assets/sheep_bleat.mp3" ></audio>
	</head>

	<body>
		<img src="http://icons.iconarchive.com/icons/martin-berube/square-animal/128/Sheep-icon.png" id="add_sheep" alt="Add a sheep"></img>
		<div id="sheep_count"></div>
		<button id="reset">Reset</button>
		
		<script src="/js/displayCount.js"></script>
		<script src="/js/counter.js"></script>
	</body>
</html>