body {
	font-family: sans-serif;
	background-image: url("/assets/grass.jpeg");
	background-position: center top;
	background-size: 100vh;
	background-repeat: no-repeat;
}

img#add_sheep {
	margin: 10vh auto 0 auto;
	display: block;
	cursor: pointer;
	min-height: 30vh;
}

div#sheep_count {
	margin: 8vh auto;
	min-height: 1em;
	width: 15vw;
	text-align: center;
	font-size: 6vh;
}

button {
	margin: 15vh auto 5vh auto;
	display: block;
	cursor: pointer;
	background-color: transparent;
	border: 1px solid black !important;
	padding: .5em 1.5em .5em 1.5em;
	font-size: 3vh;
}

