body {
	font-family: sans-serif;
}

img#add_sheep {
	margin: 20vh auto 0 auto;
	display: block;
	cursor: pointer;
	min-width: 40vw;
}

div#sheep_count {
	margin: 3em auto;
	padding: 0.5em 1em .5em 1em;
	min-height: 1em;
	width: 15vw;
/*	border: 1px solid grey;*/
	text-align: center;
	font-size: xx-large;
}

button {
	margin: 20vh auto 5vh auto;
	display: block;
	background-color: transparent;
	border: 1px solid black !important;
	padding: .7em 1.5em .7em 1.5em;
	font-size: x-large;
}

